@charset "utf-8";

body {
     font-size:16px;     
}


/********* add ******/


.pulsate 
{
 -webkit-animation: pulsate 2.2s ease-out;
    -webkit-animation-iteration-count: infinite; 
    -moz-animation: pulsate 2.2s ease-out;
    -moz-animation-iteration-count: infinite; 
    -ms-animation: pulsate 2.2s ease-out;
    -ms-animation-iteration-count: infinite; 
    animation: pulsate 2.2s ease-out;
    animation-iteration-count: infinite; 
    opacity: 0.0;
    
    }
    
.bobbing {
    position: absolute;  
    animation: bobbing ease-in-out 3s infinite;
    -moz-animation: bobbing ease-in-out 3s infinite;
    -webkit-animation: bobbing ease-in-out 3s infinite; 
       
}

.homepageUpdate a:hover {
     border:none !important
}

.homepageUpdate .nav ul {
     color: #333 !important
}

.bubble_spot.bobbing {
     z-index: 2001;
}

.octo {
     z-index: 2001
}
    

.gps_ring {
    border: 3px solid #fff;
    border-radius: 30px;
    height: 36px;
    width: 36px;
    position: absolute;
    left:20px;
    padding-top:-3px;
/*     top:214px; */
    -webkit-animation: pulsate 1.2s ease-out;
    -webkit-animation-iteration-count: infinite; 
    -moz-animation: pulsate 1.2s ease-out;
    -moz-animation-iteration-count: infinite; 
    -ms-animation: pulsate 1.2s ease-out;
    -ms-animation-iteration-count: infinite; 
    animation: pulsate 1.2s ease-out;
    animation-iteration-count: infinite; 
    opacity: 0.0;
    color: #fff;
    background: rgba(0,0,0,0.4);
    cursor:pointer
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

@-moz-keyframes pulsate {
    0% {-moz-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-moz-transform: scale(1.2, 1.2); opacity: 0.0;}
}

@-ms-keyframes pulsate {
    0% {-ms-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-ms-transform: scale(1.2, 1.2); opacity: 0.0;}
}

@keyframes pulsate {
    0% {transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {transform: scale(1.2, 1.2); opacity: 0.0;}
}

@keyframes bobbing {
   50% {
       transform: translate(0, 12px) translateZ(0);       
   }
}

@-webkit-keyframes bobbing {
   50% {
       -webkit-transform: translate3d(0, 12px, 0);       
   }
}

@-moz-keyframes bobbing {
   50% {
       -moz-transform: translate3d(0, 12px, 0);       
   }
}

.ping_us {
     position:absolute; 
     width:36px; 
     height:36px; 
     left:50%; 
     display:inline-block; 
     z-index:20001;
     cursor: pointer 
}

.ping_padding {
     margin-left:10px;
     padding-top:3px; 
     display:inline-block
}

.ping_label {
     margin-left:65px;
     margin-top: 7px; 
     display:inline-block;
     /* display: none */
     width: 120px; 
     color: #fff;
     font-family: 'lato'
}

.ping_label.hide {
     display: none
}



.ping_us.worldcup {
     margin-top:180px; 
     margin-left:-15px;
}

.ping_us.horse {
     margin-top:2540px; 
     margin-left:60px;
}

.ping_us.celtic {
     margin-top:2030px; 
     margin-left:12px;
}


.ping_us.panda {
     margin-top:1140px; 
     margin-left:20px;
}

.ping_us.cutts {
     margin-top:1900px; 
     margin-left:10px;
}






     body
     {
          background: #07a0ca;
          background-image: url('https://asset-28j.pages.dev/background1_textured.jpg');
          background-attachment: fixed;
          overflow-x: hidden
     }

     
     
     .footerparthere {
          position: relative;
          z-index: 40;
          

     }

     
     .overspan {
          z-index: 10;
          text-align: center;
          top:525px;
          position: absolute;
          left:50%;
          width: 80%;
          height: 36px;
          margin-left: -40%;
          margin-top: 50px;
          font-size: 26px;
          line-height: 48px; 
          display:block;
          opacity: 0;    
     }

     p {margin:1em 0;}
     
     
     .header {
     
          height: 700px; /******* this is the value to change **********/
          width:100%;
          top:0;
          z-index: 4001;
          position:absolute;
     }
     
     .titles {
          
          height: 700px; /******* this is the value to change **********/
          width: 100%;
          top:0;
          
     }
     .titles h2
     {
          color: #fff;
          font-size: 54px;
          font-family: 'brlnsr'
     }
     
     .more {
          height: auto;
          overflow: hidden
     }
     
     div.newContent {
          overflow: hidden;
          height: auto
          position: relative;
          
          border-bottom: 4px solid #3b4764
     }
     
     .scrollme {
          text-align: center; font-style: italic; color: #fff; height: auto;
          margin: 50px 0 0;
          position: absolute;
          top:-50px;
          left:50%;
          margin-left: -50%;
          width: 100%
     }
     
     .scrollme div.scrollIcon
     {
          height: 40px;
          width:100%;
          height:21px;
          background:url(https://asset-28j.pages.dev/scrollDownArrow.png) center center no-repeat;
          margin:10px 0px 0px 0px;
          opacity:0.8;
     }
     
     
     .sectionone {
          top:700px; /******* this is the value to change **********/
          width: 100%;
     }
     
     .header-kick 
     {
          height: 2400px;
          width: 100%;
     }




/***** end *******/





h1 {font-family: 'brlnsr';color:#FFFFFF; font-size: 54px;}
h3 {font-family: 'brlnsr';color:#fff;}
p {
line-height:1.8em;
color:#FFFFFF;
}
#container {
     width: 100%;
     overflow:hidden;
     position:relative;
     z-index: 0;
}
#buttonCover {position:fixed; width:100px; height:20px; right:0; z-index:1001; padding:10px; display:none;}
#scrollButton {position:fixed; width:100px; height:20px; right:0; margin-top:400px; background:#141414; color:#FFFFFF; z-index:1000; padding:20px 10px; display:none;}

.sectionButtonsContainer {
-webkit-backface-visibility: hidden;
-webkit-transform: translateZ(0);
position:fixed;
right:0;
margin-top: 300px;
color: #fff;
z-index:30000;
}

.sectionButton {
height:44px;
width:44px;
background:#002946;
text-align:center;
vertical-align:middle;
padding-top:10px;
border-top:#141414 solid 1px;
border-left:#141414 solid 1px;
}
.sectionButton a {
font-family: 'helsinki';
text-decoration:none;
color:#FFF;
padding:10px 15px;
}
.sectionButton a {
text-decoration:none;
color:#FFF;
}
#elementContainer {position:relative; width:768px; left:50%; margin-left:-384px;}

.penguin2 {position:absolute;  width:79px; height:76px; background:url(https://asset-28j.pages.dev/penguin_swimming.png); background-repeat:none; margin:386px 0px 0px 0px; right:320px; z-index:1;}

.socialBottom {position:absolute; margin:0px 0px 0px 800px; z-index:9000; }

.starfishFooter1 {position:absolute; width:50px; height:51px; background:url(https://asset-28j.pages.dev/starfish1.png); margin:20px 0px 0px -600px;}
.starfishFooter2 {position:absolute; width:50px; height:48px; background:url(https://asset-28j.pages.dev/starfish2.png); margin:0px 0px 0px -500px;}
.facebookBottom {width:88px; height:88px; background:#141414; float:left; background:url(https://asset-28j.pages.dev/facebook_icon_bottom.png);}
.twitterBottom {width:88px; height:88px; background:#141414; float:left; background:url(https://asset-28j.pages.dev/twitter_icon_bottom.png); margin:20px 0px 0px 5px;}
.googleplusBottom {width:88px; height:88px; background:#141414; float:left; background:url(https://asset-28j.pages.dev/googleplus_icon_bottom.png); margin:10px 0px 0px 5px;}
.ice_text {position:absolute; width:200px; height:193px; background:url(http://www.iceviral.com/assets/images/ice_text.png); left:50%; margin-left:-100px; z-index:1003;}
#scrollPrompt {
position:absolute;
width:100%;
margin:240px 0px 0px 0px;
color:#FFFFFF;
z-index:1004;
text-align:center;
font-style:italic;
}
#scrollIcon {
position:absolute;
width:40px;
height:21px;
background:url(https://asset-28j.pages.dev/scrollDownArrow.png);
left:50%;
margin:10px 0px 0px -20px;
opacity:0.8;
}
#cogHolder {
width:212px;
margin:0px auto;
}

.splashCta {
     font-family:'lato';
     font-size: 20px;
     /*padding-left: 80px;*/
     background: url(https://asset-28j.pages.dev/CTA_yellow.png);
     background-repeat: no-repeat;
     height: 200px;
     line-height: 73px;
     clear: both;
     /*background-position:-73px;*/
}

.ctaText {
     width:120px;
     line-height:30px;
     text-align:center;
     margin: 40px auto;
     font-size:0.9em;
     color:#00406c;
     /*color:#ffffff;*/
     font-family:'brlnsr';
}

.ctaTextAlt {
     margin-top:70px;
     color:#ffffff;
     color:#00406c !important;
}

.splashCta.ctaOne {
     line-height: 30px;
     left:50%;
     margin: 950px 0px 0px -100px;
     width: 200px;
     position:absolute;
}


.splashCta.ctaTwo {
     background: url(https://asset-28j.pages.dev/CTA_yellow.png);
     background-repeat: no-repeat;
     /*margin: 0 auto;*/
     width: 200px;
     left:50%;
     margin: 400px 0px 0px -100px;
     line-height: 30px;
     position:absolute;
}

.splashCta.ctaTwo_2 {
     background: url(https://asset-28j.pages.dev/CTA_yellow.png);
     background-repeat: no-repeat;
     width: 200px;
     line-height: 30px;
     left:50%;
     margin:20px 0px 0px -100px;
     position:absolute;
}

.splashCta.ctaThree {
     background:url(https://asset-28j.pages.dev/CTA_yellow.png);
     background-repeat: no-repeat;
     /*margin: 0 auto;*/
     width: 200px;
     left:50%;
     margin: 500px 0px 0px -100px;
     line-height: 30px;
     position:absolute;
}

.ctaFour {
/*   background:url(http://www.iceviral.com/assets/images/CTA_pink.png); */
     background-repeat: no-repeat;
     margin: -100px 0px 0px 500px;
     width: 200px;
/*   color: #ffffff; */
     color:#00406c !important;
     line-height: 30px;
     position:absolute;
}

.eocContainer {position:relative; width:1000px; height:300px; margin:0px auto 0px; z-index:10000;}
.eoc1 {position:absolute; width:29px; height:30px; background:url(https://asset-28j.pages.dev/eoc_1.png) no-repeat; margin:70px 0px 0px 80px;}
.eoc2 {position:absolute; width:73px; height:40px; background:url(https://asset-28j.pages.dev/eoc_2.png) no-repeat; margin:40px 0px 0px 100px;}
.eoc3 {position:absolute; width:60px; height:59px; background:url(https://asset-28j.pages.dev/eoc_3.png) no-repeat; margin:50px 0px 0px 200px;}
.eoc4 {position:absolute; width:171px; height:95px; background:url(https://asset-28j.pages.dev/eoc_4.png) no-repeat; margin:40px 0px 0px 280px;}
.eoc5 {position:absolute; width:500px; height:284px; background:url(https://asset-28j.pages.dev/eoc_5.png) no-repeat; margin:-70px 0px 0px 460px;}

.stingrays {position:absolute; width:1000px; left:50%; margin:140px 0px 0px -500px;}
.stingray1 {position:absolute; width:200px; height:326px; background:url(https://asset-28j.pages.dev/stingray_1.png); margin:200px 0px 0px 400px;}
.stingray2 {position:absolute; width:100px; height:163px; background:url(https://asset-28j.pages.dev/stingray_2.png); margin:300px 0px 0px 600px;}
.stingray3 {position:absolute; width:140px; height:228px; background:url(https://asset-28j.pages.dev/stingray_3.png); margin:400px 0px 0px 300px;}

.tropicalFish {position:absolute; width:1000px; left:50%; margin:140px 0px 0px -500px; z-index:10000;}
.tropicalFishGroup2 {position:absolute; width:1000px; left:50%; margin-left:-500px; margin-top:1000px; z-index:10000;}
.tropicalFish1 {position:absolute; width:100px; height:50px; background:url(https://asset-28j.pages.dev/fish6.png); margin:500px 0px 0px 400px;}
.tropicalFish2 {position:absolute; width:100px; height:50px; background:url(https://asset-28j.pages.dev/fish6.png); margin:540px 0px 0px 600px;}
.tropicalFish3 {position:absolute; width:100px; height:55px; background:url(https://asset-28j.pages.dev/fish7.png); margin:700px 0px 0px 600px;}
.tropicalFish4 {position:absolute; width:100px; height:93px; background:url(https://asset-28j.pages.dev/fish8.png); margin:800px 0px 0px 200px;}
.tropicalFish5 {position:absolute; width:100px; height:50px; background:url(https://asset-28j.pages.dev/fish6.png); margin:800px 0px 0px 400px;}
.tropicalFish6 {position:absolute; width:100px; height:50px; background:url(https://asset-28j.pages.dev/fish6.png); margin:840px 0px 0px 600px;}
.tropicalFish7 {position:absolute; width:100px; height:55px; background:url(https://asset-28j.pages.dev/fish7.png); margin:1000px 0px 0px 600px;}
.tropicalFish8 {position:absolute; width:100px; height:93px; background:url(https://asset-28j.pages.dev/fish8.png); margin:1100px 0px 0px 200px;}
.tropicalFish9 {position:absolute; width:100px; height:50px; background:url(https://asset-28j.pages.dev/fish6.png); margin:500px 0px 0px 400px;}
.tropicalFish10 {position:absolute; width:100px; height:50px; background:url(https://asset-28j.pages.dev/fish6.png); margin:540px 0px 0px 600px;}
.tropicalFish11 {position:absolute; width:100px; height:55px; background:url(https://asset-28j.pages.dev/fish7.png); margin:700px 0px 0px 600px;}
.tropicalFish12 {position:absolute; width:100px; height:93px; background:url(https://asset-28j.pages.dev/fish8.png); margin:800px 0px 0px 200px;}

.boat {position:absolute; width:186px; height:303px; background:url(https://asset-28j.pages.dev/boat.png) no-repeat; left:50%; margin:40px 0px 0px -93px; z-index:1004;}
.bubbleContainer {position:absolute; width:1000px; left:50%; margin-left:-500px;}
.bubble1 {position:absolute; width:40px; height:39px; background:url(https://asset-28j.pages.dev/bubble1.png);}
.bubble2 {position:absolute; width:40px; height:38px; background:url(https://asset-28j.pages.dev/bubble2.png);}
.bubble3 {position:absolute; width:87px; height:83px; background:url(https://asset-28j.pages.dev/bubble3.png);}
.bubble4 {position:absolute; width:60px; height:59px; background:url(https://asset-28j.pages.dev/bubble4.png);}
.bubble5 {position:absolute; width:40px; height:37px; background:url(https://asset-28j.pages.dev/bubble5.png);}
.fish1 {position:absolute; width:80px; height:47px; margin:340px 0px 0px 300px; background:url(https://asset-28j.pages.dev/fish1.png); background-repeat:no-repeat;}
.fish2 {position:absolute; width:80px; height:53px; margin:360px 0px 0px 40px; background:url(https://asset-28j.pages.dev/fish2.png); background-repeat:no-repeat;}
.fish3 {position:absolute; width:110px; height:91px; margin:400px 0px 0px 200px; background:url(https://asset-28j.pages.dev/fish3.png); background-repeat:no-repeat;}
.fish4 {position:absolute; width:100px; height:86px; margin:490px 0px 0px 120px; background:url(https://asset-28j.pages.dev/fish4.png); background-repeat:no-repeat;}
.fish5 {position:absolute; width:90px; height:50px; margin:580px 0px 0px 0px; background:url(https://asset-28j.pages.dev/fish5.png); background-repeat:no-repeat;}
.jellyfishContainer {position:absolute; width:1000px; height:500px; left:50%; margin:100px 0px 0px -500px; z-index:10000;}
.jellyfish {position:absolute; width:154px; height:344px; background:url(https://asset-28j.pages.dev/jellyfish.png);}
#jellyfish2 {margin:80px 0px 0px 800px;}
#jellyfish3 {margin:0px 0px 0px 420px;}
#jellyfish4 {margin:200px;}

.whale {position:absolute; width:922px; height:245px; background:url(https://asset-28j.pages.dev/whale.png); margin:1200px 0px 0px 100px;}
.whaleEyelid {position:absolute; width:68px; height:42px; background:url(https://asset-28j.pages.dev/whale_eyelid.png); margin:29px 0px 0px 190px;}
.whaleEye {position:absolute; width:12px; height:12px; background:url(https://asset-28j.pages.dev/whale_eye.png); margin:69px 0px 0px 203px;}

.seahorse {position:absolute; width:43px; height:120px; background:url(https://asset-28j.pages.dev/seahorse.png);}
.seahorse1 {margin:1450px 0px 0px 400px;}
.seahorse2 {margin:1200px 0px 0px 0px;}
.seahorse3 {margin:1100px 0px 0px 600px;}
.seahorse4 {margin:1400px 0px 0px 700px;}

.seaCreatureContainer1 {
     position:absolute; width:1000px; left:50%; margin-left:-500px; z-index:10000;>
}
                        
.seaCreatureContainer1_IE {
     position:absolute; width:1000px; left:50%; margin-left:-500px; z-index:10000; display:none;
}

#starfishHolder {position:relative; width:1000px; left:50%; margin-left:-500px; z-index:10000;}
.starfish1 {position:absolute; width:50px; height:51px; background:url(https://asset-28j.pages.dev/starfish1.png);}
.starfish2 {position:absolute; width:50px; height:48px; background:url(https://asset-28j.pages.dev/starfish2.png);}
.starfish1_1 {margin:600px 0px 0px 800px;}
.starfish1_2 {margin:100px 0px 0px 800px;}
.starfish1_3 {margin:100px 0px 0px 100px;}
.starfish1_4 {margin:400px 0px 0px 100px;}
.starfish2_1 {margin:200px 0px 0px 700px;}
.starfish2_2 {margin:700px 0px 0px 400px;}
.starfish2_3 {margin:80px 0px 0px 300px;}
.starfish2_4 {margin:730px 0px 0px 200px;}
.anchor {position:fixed; width:100px; height:751px; background:url(https://asset-28j.pages.dev/anchor_with_rope.png); left:50%; margin:-260px 0px 0px -50px; opacity:0.1; z-index:0;}
.diver {-webkit-backface-visibility: hidden; -webkit-transform: translateZ(0); position:fixed; left:50%; width:65px; height:616px; background:url(https://asset-28j.pages.dev/diver.png) no-repeat; background-size:30px 284px; display:none; margin:-610px 0px 0px -270px; opacity:1; z-index:3001;}
.anchorCover {position:absolute; width:100%; height:300px; background:#6ab1e5; z-index:1000;}
.fontText {position: relative; width:490px; height:90%; float:left; z-index:10000;}
.fontText p {font-size:1.2em; font-weight:normal; line-height:30px;}
.fontText strong{color: #fff; font-family: 'brlnsr'; font-size: 2em; margin: .67em 0;}
.font {float:left; width:164px;}
.text {width:300px;}
.textLeft {float:left;padding-left: 25px;}
.textRight {float:right;}
.sonar {position:absolute; width:800px; height:800px; background:url(https://asset-28j.pages.dev/sonar.png); background-repeat:no-repeat; left:50%; margin:20px 0px 20px -400px; }
#sonar1 {position:relative; padding:80px 0px 0px 240px;}
.sonar1_1 {position:absolute; width:143px; height:143px; background:url(https://asset-28j.pages.dev/sonar_1_1.png); margin:195px 0px 0px 195px; opacity:0;}
.sonar1_2 {position:absolute; width:180px; height:180px; background:url(https://asset-28j.pages.dev/sonar_1_2.png); margin:176px 0px 0px 176px; opacity:0;}
.sonar1_3 {position:absolute; width:234px; height:234px; background:url(https://asset-28j.pages.dev/sonar_1_3.png); margin:149px 0px 0px 149px; opacity:0;}
.sonar1_4 {position:absolute; width:311px; height:311px; background:url(https://asset-28j.pages.dev/sonar_1_4.png); margin:111px 0px 0px 111px; opacity:0;}
.sonar1_5 {position:absolute; width:409px; height:409px; background:url(https://asset-28j.pages.dev/sonar_1_5.png); margin:62px 0px 0px 62px; opacity:0;}
.sonar1_6 {position:absolute; width:532px; height:532px; background:url(https://asset-28j.pages.dev/sonar_1_6.png); opacity:0;}
#sonar2 {position:relative; padding:180px 0px 0px 0px;}
.sonar2_1 {position:absolute; width:123px; height:123px; background:url(https://asset-28j.pages.dev/sonar_2_1.png); margin:169px 0px 0px 169px; opacity:0;}
.sonar2_2 {position:absolute; width:156px; height:156px; background:url(https://asset-28j.pages.dev/sonar_2_2.png); margin:152px 0px 0px 152px; opacity:0;}
.sonar2_3 {position:absolute; width:202px; height:202px; background:url(https://asset-28j.pages.dev/sonar_2_3.png); margin:129px 0px 0px 129px; opacity:0;}
.sonar2_4 {position:absolute; width:268px; height:269px; background:url(https://asset-28j.pages.dev/sonar_2_4.png); margin:97px 0px 0px 97px; opacity:0;}
.sonar2_5 {position:absolute; width:353px; height:353px; background:url(https://asset-28j.pages.dev/sonar_2_5.png); margin:54px 0px 0px 54px; opacity:0;}
.sonar2_6 {position:absolute; width:460px; height:460px; background:url(https://asset-28j.pages.dev/sonar_2_6.png); opacity:0;}
#sonar3 {position:relative; padding:0px 0px 0px 640px;}
.sonar3_1 {position:absolute; width:105px; height:105px; background:url(https://asset-28j.pages.dev/sonar_3_1.png); margin:144px 0px 0px 144px; opacity:0;}
.sonar3_2 {position:absolute; width:133px; height:133px; background:url(https://asset-28j.pages.dev/sonar_3_2.png); margin:130px 0px 0px 130px; opacity:0;}
.sonar3_3 {position:absolute; width:172px; height:172px; background:url(https://asset-28j.pages.dev/sonar_3_3.png); margin:110px 0px 0px 110px; opacity:0;}
.sonar3_4 {position:absolute; width:229px; height:229px; background:url(/https://asset-28j.pages.dev/sonar_3_4.png); margin:82px 0px 0px 82px; opacity:0;}
.sonar3_5 {position:absolute; width:301px; height:301px; background:url(https://asset-28j.pages.dev/sonar_3_5.png); margin:46px 0px 0px 46px; opacity:0;}
.sonar3_6 {position:absolute; width:392px; height:392px; background:url(https://asset-28j.pages.dev/sonar_3_6.png); opacity:0;}
#sonar4 {position:relative; padding:220px 0px 0px 320px;}
.sonar4_1 {position:absolute; width:93px; height:93px; background:url(https://asset-28j.pages.dev/sonar_4_1.png); margin:128px 0px 0px 128px; opacity:0;}
.sonar4_2 {position:absolute; width:118px; height:118px; background:url(https://asset-28j.pages.dev/sonar_4_2.png); margin:115px 0px 0px 115px; opacity:0;}
.sonar4_3 {position:absolute; width:153px; height:153px; background:url(https://asset-28j.pages.dev/sonar_4_3.png); margin:98px 0px 0px 98px; opacity:0;}
.sonar4_4 {position:absolute; width:203px; height:203px; background:url(https://asset-28j.pages.dev/sonar_4_4.png); margin:73px 0px 0px 73px; opacity:0;}
.sonar4_5 {position:absolute; width:267px; height:267px; background:url(https://asset-28j.pages.dev/sonar_4_5.png); margin:41px 0px 0px 41px; opacity:0;}
.sonar4_6 {position:absolute; width:348px; height:348px; background:url(https://asset-28j.pages.dev/sonar_4_6.png); opacity:0;}

.sonarText{
     position: absolute;
     font-family: 'lato';
     color: #fff;
     z-index:9000;
     cursor: pointer;
}

.sonarText:hover>.sonarPrompt {
     display: block;
     padding: 20px;
}

.sonarText .sonarPrompt{
     display: none;
     background: #002946;
     xopacity: 0.8;
     color: #fff;
     padding: 10px 20px;
     width: 250px;
     margin-left: -100px;
     font-size: 18px;
     font-family: 'brlnsr';
}

.sonarText1 {margin:255px 0px 0px 244px;}
.sonarText2 {margin:220px 0px 0px 204px;}
.sonarText3 {margin:190px 0px 0px 162px;}
.sonarText4 {margin:165px 0px 0px 150px;}

.sonarTextContent1 {position:absolute; background:#141414; padding:20px; color:#FFFFFF; margin:290px 0px 0px 160px; text-align:center; z-index:9000; display:none;}
.sonarTextContent2 {position:absolute; background:#141414; padding:20px; color:#FFFFFF; margin:260px 0px 0px 110px; text-align:center; z-index:9000; display:none;}
.sonarTextContent3 {position:absolute; background:#141414; padding:20px; color:#FFFFFF; margin:230px 0px 0px 70px; text-align:center; z-index:9000; display:none;}
.sonarTextContent4 {position:absolute; background:#141414; padding:20px; color:#FFFFFF; margin:210px 0px 0px 40px; text-align:center; z-index:9000; display:none;}

.submarine {position:absolute; width:400px; height:244px; background:url(https://asset-28j.pages.dev/submarine.png); background-repeat: no-repeat; background-size: 100% 100%; margin:380px 0px 0px 280px; z-index:9000;}
.treasureChest {position:absolute; width:284px; height:250px; background:url(https://asset-28j.pages.dev/treasure_chest.png); /*margin:722px 0px 0px 600px;*/ margin:222px 0px 0px 800px; z-index:2000;}
.football {position:absolute; width:100px; height:100px; background:url(https://asset-28j.pages.dev/football.png); /*margin:780px 0px 0px 650px;*/ margin:280px 0px 0px 850px; z-index:10001;}

section {
     position: relative;
     width: inherit;
     font-family: 'Lato';
     font-size: 18px;
     padding-top: 20px;
}

section h1, section h2 {
     font-family: 'brlnsr';
     color: #fff;
}

section .sectionContent {
     margin: 0 auto;
     width: 500px;
     position: relative;
    z-index: 10000;
}

section .sectionContent.mobile {
     margin: 400px auto 0px;
}

section .sectionContent p {
     margin: 40px auto;
}

section .sectionContent h1 {
     font-size: 50px;
     margin: 0;
}

section .sectionContent h2 {
     font-size: 35px;
     margin: 0;
     text-align: center;
     color: #fff;
}

section .sectionContent .sectionText {
     text-align: center;
}

section.one {
/*   background: #07a0ca; */
/*   background-image: url('https://asset-28j.pages.dev/background1_textured.jpg'); */
/*   border-top: #0b8cb1 solid 5px; */
     padding-top: 200px;
     height:4600px;
}



section.accord {
     background: #07a0ca;
     background-image: url('https://asset-28j.pages.dev/background1_textured.jpg');
     height: 800px;
     
     
     display: none
     
}

section.accord.two {
     background: #207a9d;
     background-image: url('https://asset-28j.pages.dev/background2_textured.jpg');
     height: 1200px;
     
     
     display: none
     
     
}


.accord.three {
     background: #175679;
     background-image: url('https://asset-28j.pages.dev/background3_textured.jpg');
     height: 1200px;
     
     border-top: 3px #444 solid;
     border-bottom: 3px #444 solid
     
/*   display: none */
     
     
}

section.one .sectionText {
     margin-top:400px;
}


/******* added chris 31/07/14 *******/

section .sectionOneNew {
     position: absolute; top: 2000px; left:50%; margin-left:-250px; width:500px; z-index: 9999;
}

section .sectionOneNew .sectionText {
     text-align: center;
}

#googleGraph, #certGraph{
     position: absolute; top: 2400px; left:50%; margin-left:-250px; background:#fff; border:8px solid #000; padding:10px;
}

#googleGraph{
     top: 2400px;
     height: 360px;
}


#certGraph{
     top: 2800px;
}

#certGraph img.certif {
     margin: 0 auto; width: 100%; height: auto
}

.hideme {display: none}
.blockme {display: block}


.bubble_content  {
     position: relative; width:300px; height: 300px; background: url('https://asset-28j.pages.dev/circle_popup_300.png') #79cae3 center center no-repeat; margin-left:-104px; margin-top:-104px; border-radius: 150px; z-index:20001; 
}

.bubble_content.large  {
     position: relative; width:450px; height: 450px; background: #79cae3 center center no-repeat; margin-left:-129px; margin-top:-129px; border-radius: 225px; z-index:20001; 
}

.bubble_content.large div.title {
     padding: 90px 50px 20px;
     text-align: center;
     font-size: 22px;
     color: #fff;
     font-weight: bold
}

.bubble_spot {
     position: absolute; background:url('https://asset-28j.pages.dev/bubble_background.png') no-repeat center center; width:100px; height:100px; z-index:20000
}

.bubble_content p {
padding: 70px 30px; text-align:center;font-size:16px
}


.bubble_content.large h3 {
padding: 90px 50px 0; text-align:center; font-size: 22px
}

.bubble_content.large p {
padding: 0px 50px; text-align:center;font-size:16px; margin-top: -10px
}

.bubble_close {
     position: absolute; right:10px; top:10px; background:url('https://asset-28j.pages.dev/close_32.png') no-repeat center center; height: 32px; width:32px; border-radius: 15px; z-index:20002;cursor:pointer
}

.bubble_icon{
     position:absolute; top:36px;
/*   width:96px; text-align:center; height:96px; color:#fff; font-size:24px; */


    border: 3px solid #fff;
    border-radius: 30px;
    text-align:center;
    height: 36px;
    width: 36px;
    left:29px;
    padding-top:3px;
     top: 32px;
    -webkit-animation: pulsate 1.2s ease-out;
    -webkit-animation-iteration-count: infinite; 
    -moz-animation: pulsate 1.2s ease-out;
    -moz-animation-iteration-count: infinite; 
    -ms-animation: pulsate 1.2s ease-out;
    -ms-animation-iteration-count: infinite; 
    animation: pulsate 1.2s ease-out;
    animation-iteration-count: infinite; 
    opacity: 0.0;
    color: #fff;
    background: rgba(0,0,0,0.4);
    cursor: pointer;
    position: relative;
}

.bubble_spot.sectionOne {
      left: 10%; top: 3500px;
}

.bubble_spot.sectionOne .bubble_content p {
padding: 72px 30px
}

.bubble_spot.sectionTwo {
     right: 10%; top: 300px;
}

.bubble_spot.sectionTwo .bubble_content p {
padding: 85px 30px
}


.bubble_spot.sectionPanda {
     left: 10%; top: 1500px;
}

.bubble_spot.sectionPanda .bubble_content p {
padding: 85px 30px
}

.bubble_spot.sectionThree {
     left: 10%; top: 1000px;
}

.bubble_spot.sectionThree .bubble_content p {
padding: 85px 30px
}


.bubble_spot.sectionThree_two {
     right: 10%; top: 1700px;
}

.bubble_spot.sectionThree_two .bubble_content p {
padding: 60px 30px
}


.bubble_spot.sectionFour {
     left: 10%; top: 1200px;
}



.bubble_spot.sectionFive{
     right: 10%; top: 2500px;
}

.bubble_spot.sectionThree_two {
     right: 10%; top: 1700px;
}

/******* end chris 31/07/14 *******/


section.two {
     padding-top:200px;
     background: #207a9d;
     background-image: url('https://asset-28j.pages.dev/background2_textured.jpg');
     height:2500px;
}

section.three {
     background: #175679;
     background-image: url('https://asset-28j.pages.dev/background3_textured.jpg');
     height:3600px;
}

section.three .sectionText h2 {margin-top:150px;}

section.four {
     background:url('https://asset-28j.pages.dev/background4.jpg');
     height: 3000px;
}

section.four h1 {margin:0px; padding:20px 0px 0px; text-align:center;}
section.four p {text-align:center;}

section.five {
     padding-top: 0px !important;
     background:url('https://asset-28j.pages.dev/sand1.jpg');
     height:620px;
}

section.three h2 {color: #fff;}

.power-item {margin-top: 60px;}

.power-item .icon, .power-item .text{margin-top: 40px;}

.power-item.rIcon .icon {float:right; width: 200px; display: inline-block;}
.power-item.rIcon .text {float:left; width: 200px; display: inline-block;}

.power-item.lIcon .icon {float:left; width: 200px; display: inline-block;}
.power-item.lIcon .text {float:right; width: 200px; display: inline-block;}

.power-item h3 {font-size: 32px;}
.power-item p{font-size: 18px;}

/*   Columns   */

.columns {
     margin: 0 auto;
     display: table;
     width: 1000px;
}

.columns .column {display: table-cell; vertical-align: top;}

.columns.columns-two .column.one {width: 50%;}

/*   Other     */

.section4 {height:1000px; background:#00406c;}
.indexContent {width:1000px; height:300px; background:#FFFFFF; left:50%; margin:0px auto;}
.section1 .indexContent {height:400px; background:none; margin-top:320px; z-index:5000;}
.section1 .indexContent .right {width:560px;}
.section1 p {color:#FFFFFF;}
.section1Text {width:450px; margin:10px auto 0px;}
.section1Text h1 {font-size:3em; margin:-20px 0px 0px 0px; text-transform:uppercase; text-align:center;}
.section1Text p.subheading {text-align:center; margin:50px 0px 0px 0px; font-family:'sansitaone'; font-size:1.8em; padding:0; line-height:30px;}
.section2Text p.subheading {margin:50px 0px 0px 0px; font-family:'sansitaone'; font-size:1.8em; padding:0; line-height:30px;}
.section2Text {width:600px; padding-top:100px;}
.section3 .indexContent h1 {margin:0; color:#dcf0fd; font-size:2.8em;}
.section3 .indexContent p {color:#dcf0fd;}
.section4 h1 {font-family:'sansitaone'; font-size:3em; text-align:center; text-transform:uppercase; color:#FFFFFF;}
.section5Top {
position:absolute;
width:100%;
height:67px;
background:url(https://asset-28j.pages.dev/sand_top.png);
}

.section5TopCover {
position:absolute;
width:100%;
height:67px;
background:url(https://asset-28j.pages.dev/sand_top_cover.png);
z-index:2000;
}
.section5 h1 {font-family:'sansitaone'; font-size:3em; text-transform:uppercase; color:#141414;}
.section5 b {font-family:'sansitaone'; font-size:1.8em; padding:0; line-height:30px;}
.section5Text {padding-top:100px; color:#00406c; position: relative; z-index: 3001; width: 45%;}
.section5Text h1 {color:#00406c;}
.seabed {
width:inherit;
background:#003f6e;
padding:5px 0px;
text-align:right;
color:#FFFFFF;
}
.seabed p {
margin:0;
padding:0px 10px 0px 0px;
}
.mobilePrompt {width:100%; height:100%; background:#141414; color:#FFFFFF; display:none; text-align:center; padding-top:20px;}
.sonarMobile {color:#FFFFFF; display:none;}
.sonarMobile b {font-family:'sansitaone';}

.shipwreck {
     position:absolute;
     width:300px;
     height:380px;
     background:url(https://asset-28j.pages.dev/shipwreck.png);
     margin-top:-335px;
     opacity:0.5;
     z-index:1000;
}

.castle {
     position:absolute;
     width:400px;
     height:334px;
     background:url(https://asset-28j.pages.dev/castle.png);
     margin:-270px 0px 0px 270px;
     z-index:3000;
}

.fishgroup {
     position:absolute;
     width:471px;
     height:262px;
     background:url(https://asset-28j.pages.dev/fishgroup.png);
     margin:-180px 0px 0px 380px;
     z-index:1003;
}

.shark {
     position:absolute;
     width:200px;
     height:76px;
     background:url(https://asset-28j.pages.dev/shark.png);
     margin:-140px 0px 0px 580px;
     opacity:0.5;   
}

.confetti {position:absolute; width:180px; height:115px; background:url(https://asset-28j.pages.dev/confetti.png); margin:280px 0px 0px 810px; z-index:10001;}

#work1URL, #work2URL, #work3URL, #work4URL, #work5URL, #work65URL, #work1CloseButton, #work2CloseButton, #work3CloseButton, #work4CloseButton, #work5CloseButton, #work6CloseButton {display:none;}

.work {position:absolute; width:100px; height:100px; background:rgba(231,221,95,1.00); left: 50%; z-index:20000;}
.pointingFish {position:absolute; width:100px; height:70px; background:url(https://asset-28j.pages.dev/pointing_fish_small_2.png); left:50%; z-index:20000;display: none;
}
.pointingFishReverse {position:absolute; width:100px; height:70px; background:url(https://asset-28j.pages.dev/pointing_fish_small_2.png); left:50%; z-index:20000;
-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        display: none;
}
.pointingFishSmall {position:absolute; width:100px; height:70px; background:url(https://asset-28j.pages.dev/pointing_fish_small_2.png); left:50%; margin:200px 0px 0px -220px; z-index:30000; display: none}

#pointingFishWorldCup {margin:70px 0px 0px -70px;}
#pointingFishMattCutts {margin:1900px 0px 0px -200px;}
#pointingFishPetitBateau {margin:1080px 0px 0px 140px;}
#pointingFishHorseRacing {margin:1880px 0px 0px -140px;}
#pointingFishChoice {margin:1540px 0px 0px 140px;}

.closeButton {position:absolute; width:44px; height:44px; background:url(https://asset-28j.pages.dev/close_button.jpg); left:50%; margin:-893px 0px 0px 488px; z-index:20000;}

.iFrameStyle {position:absolute; width:1044px; height:768px; background:rgba(0,0,0,0.5); padding:10px; z-index:20000; left:50%; margin:-850px 0px 0px -512px;}

#work1 {background:url(https://asset-28j.pages.dev/football_world_cup.png); width:150px; height:263px; margin:0px 0px 0px -50px;}
#work2 {background:url(https://asset-28j.pages.dev/panda_bubble.png); width:200px; height:281px; margin: 950px 0px 0px -50px;}
#work3 {background:url(https://asset-28j.pages.dev/matt_cutts_spam.png) no-repeat; width:160px; height:233px; margin: 1850px 0px 0px -50px;}
#work4 {background:url(https://asset-28j.pages.dev/horses_ice.png); width:340px; height:261px; margin:2400px 0px 0px -50px;}
#work5 {background:url(https://asset-28j.pages.dev/choice_records.png); width:200px; height:297px; margin:1400px 0px 0px -50px;}
#work6 {background:url(http://www.iceviral.com/assets/images/crest.png) no-repeat; width:200px; height:297px; margin:1850px 0px 0px -50px;}

.ping_us.cutts .gps_ring { left: -6px; top: 96px; }

.contentPromptTextContainer {position:absolute; background:url(https://asset-28j.pages.dev/speech_bubble.png); width:200px; height:146px; left:50%; margin:40px 0px 0px -360px; z-index:20000;display: none}
.contentPromptText {width:150px; font-family:'Lato'; font-size:0.9em; text-align:center; line-height:1.5em; margin:20px 0px 0px 20px;}

.lightbox {display:none;}

@media all and (max-height: 700px) {
.anchor {margin:-460px 0px 0px -50px;}
}

/*
     FILE ARCHIVED ON 17:34:44 Oct 01, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:30:37 Dec 05, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.363
  exclusion.robots: 0.032
  exclusion.robots.policy: 0.018
  esindex: 0.013
  cdx.remote: 8.717
  LoadShardBlock: 247.732 (3)
  PetaboxLoader3.datanode: 172.807 (5)
  PetaboxLoader3.resolve: 273.601 (3)
  load_resource: 291.067 (2)
*/
