.is-bar {position: fixed; top: 120px; left: 0px; width:60px; font-family: Arial; padding: 0 5px; z-index: 16121995;}
.is-bar.minimal {}
.is-bar.minimal .is-btn{height:45px;}
.is-bar.minimal .is-btn .count{display: none;}

.is-bar.focused {}
.is-bar.focused .is-btn{height: 45px;}
.is-bar.focused .is-btn .count{font-size: 11px;}
.is-bar.focused .is-btn .prompt{display: none;}

.is-bar .is-btn {width: 50px; height: 69px; cursor: pointer; margin-bottom: 8px; border: 2px solid #fff;}
.is-bar .is-btn:hover{position: relative; left: 2px;}

.is-bar .is-btn .icon {display: block; height: 25px; background: rgba(0,0,0,0.4); background-size: 15px 15px;}
.is-bar .is-btn .count {display: block; height: 20px; background: rgba(0, 0, 0, 0.2); margin: 0 auto; text-align: center; color: #fff; line-height: 20px; font-size: 13px;}
.is-bar .is-btn .prompt {display: block; height: 20px; background: rgba(0,0,0,0.4); color: #fff; font-size: 11px; text-align: center; line-height: 20px;}

.is-bar .is-btn.facebook{background: #4c66a4;}
.is-bar .is-btn.facebook .icon{background-image:url('https://asset-28j.pages.dev/facebook.png');background-position: center; background-repeat: no-repeat;}
.is-bar .is-btn.twitter{background: #55acee;}
.is-bar .is-btn.twitter .icon{background-image:url('https://asset-28j.pages.dev/twitter.png');background-position: center; background-repeat: no-repeat;}
.is-bar .is-btn.google_plusone_share{background: #dd4b39;}
.is-bar .is-btn.google_plusone_share .icon{background-image:url('https://asset-28j.pages.dev/googleplus.png');background-position: center; background-repeat: no-repeat;}
.is-bar .is-btn.linkedin{background: #489dc9;}
.is-bar .is-btn.linkedin .icon{background-image:url('https://asset-28j.pages.dev/linkedin.png');background-position: center; background-repeat: no-repeat;}
.is-bar .is-btn.stumbleupon{background: #eb4923;}
.is-bar .is-btn.stumbleupon .icon{background-image:url('https://asset-28j.pages.dev/stumbleupon.png');background-position: center; background-repeat: no-repeat;}
.is-bar .is-btn.pinterest{background: #ec1a22;}
.is-bar .is-btn.pinterest .icon{background-image:url('https://asset-28j.pages.dev/pinterest.png');background-position: center; background-repeat: no-repeat;}
/*
     FILE ARCHIVED ON 18:27:16 Oct 01, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:33:50 Dec 05, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.813
  exclusion.robots: 0.052
  exclusion.robots.policy: 0.038
  esindex: 0.03
  cdx.remote: 19.738
  LoadShardBlock: 380.37 (3)
  PetaboxLoader3.datanode: 230.336 (5)
  PetaboxLoader3.resolve: 446.131 (3)
  load_resource: 359.153 (2)
*/
